.container{
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputContainer{
  width: 45%;
  min-width: 17rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputContainer h1{
  font-family: 'Playfair Display', serif;
  font-size: 3.5rem;
  color: white;
  margin-bottom: 1.5rem;
}
.inputContainer h1 span{
  color: var(--primary-color);
}
.inputContainer div{
  width: 100%;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


.inputContainer input{
  width: 100%;
  padding: 0.5rem 0.2rem 0.5rem 0;
  text-indent: 2rem;
  border: none;
  outline: none;
  font-size: 1rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.inputContainer input::placeholder{
  font-size: 0.9rem;
}
.inputContainer button{
  padding: 0 1rem;
  height: 3rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: white;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
}

/* Result */

.result{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.result p{
  color: white;
  border: 1px solid var(--primary-color);
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}
.result button {
  padding: 0.8rem;
  color: white;
  background-color: var(--primary-color);
  border: none;
}

/* No Data */

.noData{
  color: white;
  font-size:  1rem;
}

/* Background animate */
@keyframes animate {
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }
  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #4e54c8;
  overflow: hidden;
  z-index: -1;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 19s linear infinite;
}




.background li:nth-child(0) {
  left: 41%;
  width: 134px;
  height: 134px;
  bottom: -134px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 22%;
  width: 102px;
  height: 102px;
  bottom: -102px;
  animation-delay: 1s;
}
.background li:nth-child(2) {
  left: 66%;
  width: 131px;
  height: 131px;
  bottom: -131px;
  animation-delay: 2s;
}
.background li:nth-child(3) {
  left: 1%;
  width: 121px;
  height: 121px;
  bottom: -121px;
  animation-delay: 11s;
}
.background li:nth-child(4) {
  left: 2%;
  width: 128px;
  height: 128px;
  bottom: -128px;
  animation-delay: 17s;
}
.background li:nth-child(5) {
  left: 42%;
  width: 187px;
  height: 187px;
  bottom: -187px;
  animation-delay: 8s;
}
.background li:nth-child(6) {
  left: 64%;
  width: 185px;
  height: 185px;
  bottom: -185px;
  animation-delay: 22s;
}
.background li:nth-child(7) {
  left: 6%;
  width: 191px;
  height: 191px;
  bottom: -191px;
  animation-delay: 4s;
}
.background li:nth-child(8) {
  left: 78%;
  width: 103px;
  height: 103px;
  bottom: -103px;
  animation-delay: 8s;
}
.background li:nth-child(9) {
  left: 27%;
  width: 122px;
  height: 122px;
  bottom: -122px;
  animation-delay: 37s;
}